<html lang="en">
<head>
    <title>Schiphol flight dashboard</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

</head>

<nav>

    <div class="flex-container-nav">

<div class="logo-nav-bar">
    <img src="assets/schiphol_logo.png" alt="Image Description">
</div>


        <a href="#" id="popup-link">Open world map</a>


        <div class="world-map" id="popup" style="display: none;">

            <button id="close-popup">X</button>

<!--            <div id="map"></div>-->

        </div>


    </div>
</nav>

<script src="app.js"></script>
